<h3>Translator Demo</h3>
<form action="/" method="POST">
    <div>
        From: <input type="text" id="from" name="from" placeholder="en/english" maxlength="10" required> </br></br>
        To: <input type="text" id="to" name="to" placeholder="es/espaniol" maxlength="10" required> </br></br>
        Text Query: <input type="text" id="query" name="query" maxlength="30" placeholder="enter your text" required> </br></br>
        <button type="submit">SUBMIT</button>
    </div>
</form>

<h6>Created by <%= name %></h6>